.git
.gitignore
.venv
.terraform
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
.bruin.yml
__pycache__
**/__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
dist
build
coverage.xml
docs/_build

