project_id        = "<GCP_PROJECT_ID>"
environment       = "dev"
region            = "<REGION>"
bigquery_location = "<BIGQUERY_LOCATION>"
# archive_bucket_location = "<ARCHIVE_BUCKET_LOCATION>"
# bronze_archive_bucket_name = "<ARCHIVE_BUCKET_NAME>"
# bronze_archive_retention_days = 365
# enable_pipeline_automation = true
# automation_region = "<AUTOMATION_REGION>"
# artifact_registry_location = "<ARTIFACT_REGISTRY_LOCATION>"
# enable_restricted_egress = true
# restricted_egress_subnet_cidr = "10.240.0.0/24"
# restricted_egress_connector_cidr = "10.240.1.0/28"
# pipeline_artifact_repository_id = "<PIPELINE_REPOSITORY_ID>"
# pipeline_container_image = "<PIPELINE_IMAGE_URI_OR_DIGEST>"
# pipeline_job_name = "<PIPELINE_JOB_NAME>"
# pipeline_job_memory_limit = "4Gi"
# pipeline_schedule = "0 */6 * * *"
# pipeline_schedule_time_zone = "Asia/Kolkata"
# pipeline_schedule_paused = false
# enable_pipeline_reporting = true
# enable_bronze_archive_automation = true
# notification_email_recipient = "<NOTIFICATION_EMAIL>"
# reporting_job_name = "<REPORTING_JOB_NAME>"
# reporting_scheduler_name = "<REPORTING_SCHEDULER_NAME>"
# reporting_schedule = "20 */6 * * *"
# reporting_schedule_time_zone = "Asia/Kolkata"
# bronze_archive_job_name = "<ARCHIVE_JOB_NAME>"
# bronze_archive_scheduler_name = "<ARCHIVE_SCHEDULER_NAME>"
# bronze_archive_schedule = "15 3 * * *"
# bronze_archive_schedule_time_zone = "Asia/Kolkata"
# bronze_archive_schedule_paused = true
# bronze_archive_dry_run = true
# bronze_archive_delete_after_export = false
# bronze_archive_max_delete_rows = 20000
# enable_app_hosting = true
# app_artifact_repository_id = "<APP_REPOSITORY_ID>"
# app_container_image = "<APP_IMAGE_URI>"
# app_service_name = "<APP_SERVICE_NAME>"
# app_memory_limit = "1Gi"
# app_allow_unauthenticated = true
# enable_app_edge = true
# app_domain_name = "<APP_DOMAIN_NAME>"
# app_rate_limit_count = 120
# app_rate_limit_interval_sec = 60
# app_rate_limit_preview = true
# app_backend_log_sample_rate = 1.0

labels = {
  owner = "<OWNER_LABEL>"
}
